.blogContainer {
    display: grid;
    grid-template-rows: 75px 75px 800px 1600px 50px;
    grid-template-columns: 600px;
    border: 2px solid black;
    justify-content: center;
}

.blogHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-family: 'Palanquin Dark';
    font-size: 32px;
    color: #fafafa;
    background-color: grey;
}

.blogTitle {
    text-align: center;
}

.blogAuthor {
    display: inline-block;
    text-align: center;
}

.blogContent {
    /* TODO: empty CSS */
}

.blogFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Palanquin Dark';
    font-size: 20px;
    background-color: grey;
}

.img-container {
    text-align: center;
}

figcaption {
    text-align: center;
}