@import "blogstyles.css";
@import "subscribestyles.css";
@import "typographystyles.css";

html {
    font-family: Raleway;
    color: #fafafa;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rel {
    position: relative;
    top: -50px;
    border: 7px solid #3a3f44;
}

body {
    background-color:#3a3f44;
}

.nostyle {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

ul.breadcrumb {
    padding: 10px 30px;
    list-style: none;
    border-radius: 5px;
}

.greyBackground {
    background-color: grey;
}

ul.breadcrumb li a:hover {
    color:orange;
    text-decoration: underline;
}

li {
    display: table;
    margin: 0px auto 0px auto;
}

@media(max-width: 600px) {

    .container {
        display: grid;
        grid-template-rows: 200px 275px repeat(4, 325px) repeat(2, 130px);
        grid-template-columns: 300px;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "main"
        "main"
        "main"
        "ft"
        "ft";
        border: 2px solid black;
        justify-content: center;
    }
}

@media(min-width: 601px) and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-rows: 150px 275px 800px 130px;
        grid-template-columns: 400px 400px;
        grid-template-areas: 
        "hd hd"
        "sd sd"
        "main main"
        "ft ft";
        border: 2px solid black;
        justify-content: center;
    }

    .nestedContent {
        display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns: 300px 300px;
        justify-items: center;
    }

    .nestedFooter {
        display: grid;
        grid-template-rows: 200px 100px;
        grid-template-columns: 300px 300px;
        justify-items: center;
    }
}

@media(min-width: 901px) {

    .container {
        display: grid;
        grid-template-rows: 150px 275px 800px 130px;
        grid-template-columns: 600px;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
        border: 2px solid black;
        justify-content: center;
    }

    .nestedContent {
        display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns: 300px 300px;
        justify-items: center;
    }

    .nestedFooter {
        display: grid;
        grid-template-rows: 200px 100px;
        grid-template-columns: 300px 300px;
        justify-items: center;
    }

}

.box {
    display: flex;
}

.header {
    display: inline-block;
    text-align: center;
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
    font-size: 30px;
    justify-content: center;

}

.content {
    grid-area: main;
    justify-content: center;
}

.card {
    width: 275px;
    height: 325px;
    box-shadow: 5px 5px black;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    justify-items: auto;
}

.card:hover{
    border: 2px solid orange;
}

.photoBox {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;    
    width: 275px;
    height: 200px;
    border-radius: 10px;
}

.snippet {
    position: relative;
    top: -40px;
    left: 35px;    
    width: 200px;
    height: 125px;
    border-radius: 10px;
    background-color: #202020;
}

button {
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

button:hover {
    color:white;
}

#one {
    background-image: url('../img/VN2014_12.jpg');
    background-size: cover;
    text-align: center; 
}

#two {
    background-image: url('../img/VN2016_12.jpg');
    background-size: cover;
    text-align: center;
}

#three {
    background-image: url('../img/VN2017_12.jpg');
    background-size: cover;
    text-align: center;
}

#four {
    background-image: url('../img/VN2019_12.jpg');
    background-size: cover;
    text-align: center;
}

.footer {
    grid-area: ft;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Palanquin Dark';
}

.LeftFt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RightFt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
