form {
    border: 4px solid black;
    background-color: #3a3f44;;
}

.subContainer {
    padding: 20px;
}

input[type=text], input[type=submit] {
    padding: 12px;
    display: inline-block;
    border: 1px solid black;
}